.details{
    margin: 40px 0px 0px -20px;
}
h2{
    color:  rgb(92, 6, 92);
    margin-left: 29px;
}
.input, span{
    margin-left: 30px;
}
.label{
    font: 240px;
}
button{
    justify-content: center;
    background-color: rgb(92, 6, 92);
    color: #fff;
    padding: 5px;
    font-size: 16px;
    margin: 15px 0px 50px 30px;
}