.messages{
    margin: -30px 900px 10px 0px;
}

h2{
    position: relative;
    color: rgb(92, 6, 92);
    font-size: 30px;
}

button{
    position: relative;
    justify-content: center;
    background-color: rgb(92, 6, 92);
    color: #fff;
    padding: 5px;
    font-size: 16px;
    margin: -25px 0px 9px 4px;

}
.notifications{
    margin: 2px 5px 7px 10px;
}

span{
    margin: 0px 0px 3px -5px;
    font-size: 22px;
}