.messages{
    border: 1px solid white;
    margin: 200px 0px 10px 0px;
}

h2{
    position: relative;
    color: rgb(92, 6, 92);
    font-size: 30px;
}

.clear{
    position: relative;
    color: red;
    background-color: white;
    text-align: center;
    font-size: 20px;
    margin: -200px 0px 5px 4px;
}
.notifications{
    margin: 2px 5px 7px 10px;
}

span{
    margin: 0px 0px 3px -5px;
    font-size: 22px;
}