li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #000;
    margin: 10px 570px 10px 540px;
    padding: 5px;
    font-size: 22px;
}

li:hover , a:hover{
    background-color: rgb(219, 170, 219);
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    color: rgb(92, 6, 92);
    font-size: 36px;
}

